.box{
    font-size: 100px;
    color:white;
    box-sizing: border-box;
}

.box1{background-color: black;}
.box2{background-color: wheat;}
.box3{background-color: aqua;}
.box4{background-color: blue;}
.box5{background-color: red;}
.box6{background-color: yellow;}

.container{
    display: flex;
    flex-wrap: wrap;
    border: 10px solid black;
    
}

.box1{
    
}



