.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid#a9a9a9;
}

.header img {
  /* width: 200px; */
  object-fit: contain;
  height: 60px;
}

.header__icon {
  padding: 20px;
}
